{{template "admin" .}}

{{define "page-title"}}
    Reservation
{{end}}

{{define "content"}}
    {{$res := index .Data "reservation"}}
    {{$src := index .StringMap "src"}}
    
    <div class="col-md-12">
        <h2>Reservation Details</h2>
        
        <p><strong>Room:</strong> {{$res.Room.RoomName}}</p>
        <p><strong>Arrival:</strong> {{humanDate $res.StartDate}}</p>
        <p><strong>Departure:</strong> {{humanDate $res.EndDate}}</p>
        
        <hr>

        <form method="post" action="/admin/reservations/{{$src}}/{{$res.ID}}" novalidate>
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
            <input type="hidden" name="year" value="{{index .StringMap "year"}}" />
            <input type="hidden" name="month" value="{{index .StringMap "month"}}" />

            <div class="form-group mt-3">
                <label for="first_name">First Name:</label>
                <input class="form-control" id="first_name" type="text" name="first_name" value="{{$res.FirstName}}" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input class="form-control" id="last_name" type="text" name="last_name" value="{{$res.LastName}}" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" id="email" type="email" name="email" value="{{$res.Email}}" required>
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input class="form-control" id="phone" type="tel" name="phone" value="{{$res.Phone}}" required>
            </div>

            <hr />
        
            <input type="submit" class="btn btn-primary" value="Save" />
            {{if eq $src "cal" }}
             <a href="#!" onClick="window.history.go(-1)" class="btn btn-warning ">Cancel</a>
            {{else}}
              <a href="/admin/reservations-{{$src}}" class="btn btn-warning ">Cancel</a>
            {{end}}
            {{if eq $res.Processed 0}}
            <a href="#!" onClick="processRes({{$res.ID}})" class="btn btn-info ">Mark as Processed</a>
            {{end}}
            <a href="#!" onClick="deleteRes({{$res.ID}})" class="btn btn-danger ">Delete</a>
        </form>
    </div>
{{end}}

{{define "js"}}
    {{$src := index .StringMap "src"}}
<script>
    function processRes(id) {
        // Check if attention is available
  
            attention.custom({
                icon: 'warning',
                title: 'Are you sure?',
                msg: 'This action cannot be undone.',
                callback: function(result) {
                    if (result) {
                        window.location.href = "/admin/process-reservation/{{$src}}/" + id + "/do?y={{index .StringMap "year"}}&m={{index .StringMap "month"}}";
                    }
                }
            });
    
    }
        function deleteRes(id) {
        // Check if attention is available
  
            attention.custom({
                icon: 'warning',
                title: 'Are you sure?',
                msg: 'This action cannot be undone.',
                callback: function(result) {
                    if (result) {
                        window.location.href = "/admin/delete-reservation/{{$src}}/"  + id + "/do?y={{index .StringMap "year"}}&m={{index .StringMap "month"}}";
                    }
                }
            });
    
    }
</script>
{{end}}